/*estilos para el encabezado*/
header{
    background-color: rgb(127, 7, 7);
    padding: 20px;
    text-align: center;
    color: rgb(238, 207, 207);
}
/*estilos para la barra de navegacion*/
nav a{
    color: rgb(179, 86, 86);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover{
    color: rgb(97, 0, 63);
}
/*estilos para la seccion principal*/
.contenedor{
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px ;
    box-shadow: 0 0 10px rgb(0, 0, 130.1);

}
.contenedor h2{
    color: #333;
}
.contenedor p{
    background-color: #ffddf6;
    font-size: 16px;
    line-height: 1.6;
}
footer{
    background-color: #992e2e;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
table{
     background-color: rgb(224, 190, 190);
}