/*Estilos generales de la pagina*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}
header{
    background-color: #841515;
    color: white;
    text-align: center;
    padding: 20px;
}
section{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
h2{
    color: #841515;
}

footer {
background-color:#333;
color: white;
text-align: center;
padding: 10px;
width: 100%;
bottom: 0;
}

/*estilo flexbox*/

body{
display: flex;
flex-direction:column;
justify-content: space-between;
height: 100vh;
}

/*estilo de botones y formulario*/

input, button{
padding: 10px;
margin: 5px 0;
border-radius: 4px;
border: 1px solid #ccc;
}
button{

background-color:#871818;
color: white;
border: none;
cursor: pointer;

}

button{
background-color:#993030;
}
/*enlaces*/
a{color: #841515;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/*estilos para la barra de navegacion*/
nav a{
    color: rgb(153, 86, 179);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover{
    color: rgb(97, 0, 63);
}
/*estilos para la seccion principal*/
.contenedor{
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px ;
    box-shadow: 0 0 10px rgb(0, 0, 130.1);

}
.contenedor h2{
    color: #333;
}
.contenedor p{
    background-color: #ffddf6;
    font-size: 16px;
    line-height: 1.6;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
table{
     background-color: rgb(225, 206, 217);
}